.App{
    min-height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    min-width: 50%;
    min-height: 200px;
    background-color: #c1d8f056;
    padding: 2rem;
    border-radius: 1rem;
    text-align: center;
    color: 	#00b8ff;
}

.countdown-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    height: 200px;
}

.countdown-container .description{
    font-size: 1.2rem;
    margin-top: 0.5rem;
    padding: 1rem;
    border-radius: 0.7rem;
    min-width: 80px;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}